.vscode
.idea
*.pyc
__pycache__/
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
.pytest_cache/
transcribe-audio/*.wav
transcribe-audio/*.mp3
transcribe-audio/*.txt
transcribe-audio/*.md
transcribe-audio/*.webm
